body.contact {
	background: var(--contact-background);
	.contact-button {
		background: var(--contact-title);
		border-color: var(--contact-title);
		color: var(--contact-background) !important;
	}
	.contact-button:hover {
		background: transparent;
		border-color: white;
		color: white !important;
	}
	h1 {
		font-size: 5rem;
		font-weight: 900;
		text-align: center;
	}
	h1,
	.nav-item a {
		color: var(--contact-title);
	}
	p {
		color: var(--contact-shadow);
	}
	form {
		max-width: 700px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 15px;
		input,
		textarea {
			background: #123464aa;
			border-radius: 20px;
			margin: 10px;
			color: #fff;
			font-weight: 400;
			padding: 5px 25px;
		}
		label {
			display: flex;
			flex-direction: column;
			color: var(--contact-title);
			font-weight: 500;
		}
	}
	button[type="submit"] {
		background: var(--contact-title);
		border-color: var(--contact-title);
		color: var(--contact-background) !important;
		align-self: flex-end;
		padding: 12px 26px;
		border-radius: 25px;
	}
}

.email-wrap a {
	width: auto;
	max-width: 250px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	background: var(--contact-title);
	color: var(--contact-background) !important;
	text-decoration: none;
	border-radius: 25px;
	padding: 12px 24px;
}
.email-wrap svg {
	width: 30px;
	height: auto;
	fill: var(--contact-background);
}
