body.professional {
	background: var(--professional-background);
}
body.professional .contact-button {
	background: var(--professional-title);
	border-color: var(--professional-title);
	color: var(--professional-background) !important;
}
body.professional .contact-button:hover {
	background: transparent;
	border-color: white;
	color: white !important;
}
body.professional h1, body.professional .nav-item a {
	color: var(--professional-title);
}
body.professional .postlist-item:before, body.professional .postlist-date {
	color: #d3d3d3;
	font-weight: 500 !important;
}
body.professional a.postlist-link {
	color: var(--professional-title) !important;
	transition: 0.5s ease;
}
body.professional a.postlist-link:hover {
	opacity: 0.75;
}

