---js
const eleventyComputed = {
	title: "Say Hi - Chris Williams",
	layout: "/layouts/base.njk",
};

const styleIdentifier = "contact";
---
{%- css %}
{% include "public/css/contact.css" %}
{% endcss %}
<h1>Say Hi!</h1>
<div class="contact-info">
	<div class="contact-form">
		<form action="https://api.staticforms.dev/submit" method="POST">
			<input type="hidden" name="apiKey" value="sf_22845e6ac172372e3cdf69be" />
			<input type="hidden" name="subject" value="Christopher Williams submission" />

			<label>Name
				<input type="text" name="name" required />
			</label>

			<label>Email
				<input type="email" name="email" required />
			</label>

			<label>Message
				<textarea name="message" required></textarea>
			</label>

			<button type="submit">Send</button>
		</form>
	</div>
</div>
