---
layout: "/layouts/blank.njk"
---
{%- css %}{% include "public/css/home.css" %}{%- endcss %}
{%- js %}{% include "public/js/home.js" %}{%- endjs %}
<div class="container home">
  <div>
      <div id="home-content-wrap">
        <div class="content" id="content-1">
              <a href="/personal">
                  <h1>PERSONAL<br/>PROJECTS</h1>
              </a>
        </div>
        <div class="content" id="content-2">
          <a href="/professional">
            <h1>PROFESSIONAL<br/>WORK</h1>
          </a>
        </div>
        <div class="content" id="content-3">
          <a href="/about">
              <h1>ABOUT<br/>ME</h1>
          </a>
        </div>
        <div class="content" id="content-4">
          <a href="/contact">
              <h1>SAY<br/>HI</h1>
        </div>
      </div>
      {% include 'portrait.njk' %}
  </div>
  <div id="hiModal" class="hide">
    <div class="modal-banner"><span>HELLO</span><p>MY NAME IS...</p></div>
    <div class="modal-name">Chris Williams</div>
    <div class="modal-border"></div>
  </div>

</div>
