---js
const eleventyComputed = {
	title: "Personal Projects - Chris Williams",
	layout: "/layouts/base.njk",
	tag: "Personal"
};
const eleventyNavigation = {
	key: "Personal",
	order: 2
};

const styleIdentifier = "personal";
---
{%- css %}
{% include "public/css/personal.css" %}
{% endcss %}

<a href="https://nerocopia.cwilliams.me/" target="_blank" rel="noopener noreferrer">
	<div id="nerocopia" class="app-banner">
		<div class="accent-wrap">
			<div class="accent-burst">
				<div class="accent-text">AVAILABLE<br/><strong>NOW!</strong></div>
			</div>
		</div>
		<div class="app-banner__content">
			<h1 class="app-banner__title">Nerocopia</h1>
			<p class="app-banner__description">Recipes made easy! &bull; Importing! &bull; See your recipe's history!</p>
		</div>
	</div>
</a>
{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
