---js
const eleventyComputed = {
	title: "Professional Work - Chris Williams",
	layout: "/layouts/base.njk",
	tag: "Professional"
};
const eleventyNavigation = {
	key: "Professional",
	order: 3
};

const styleIdentifier = "professional";
---
{%- css %}
{% include "public/css/professional.css" %}
{% endcss %}
<h1>Professional Archive</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
