---js
const eleventyComputed = {
	title: "Professional Work - Chris Williams",
	layout: "/layouts/base.njk",
	tag: "Professional"
};
const eleventyNavigation = {
	key: "Professional",
	order: 3
};

const styleIdentifier = "professional";
---
{%- css %}
{% include "public/css/professional.css" %}
{% endcss %}
<section>
	<div class="aside content">
		<h1>New York Ave</h1>
		<p><a target="_blank" href="https://ny-ave.com/">New York Ave</a> is a full-service digital agency located in DeLand, FL and serving clients across the country. With a great team of creatives, we've brought life to brands and made dozens of custom websites.
	</div>
	<div class="aside image">
		{# <img src="/images/nyave-office.jpg" alt="New York Ave Office"> #}
	</div>
</section>
