---js
const eleventyComputed = {
	title: "Professional Work - Chris Williams",
	layout: "/layouts/base.njk",
	tag: "Professional"
};
const eleventyNavigation = {
	key: "Professional",
	order: 3
};

const styleIdentifier = "professional";
---
{%- css %}
{% include "public/css/professional.css" %}
{% endcss %}
<section>

	<div class="flex flex-col gap-2 p-8 sm:flex-row sm:items-center sm:gap-6 sm:py-4 ...">
  <img class="mx-auto block h-24 rounded-full sm:mx-0 sm:shrink-0" src="/img/chris-williams.jpg" alt="" />
  <div class="space-y-2 text-center sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg font-semibold text-black">Chris Williams</p>
      <p class="font-medium text-gray-500">Senior Developer</p>
    </div>
    <button class="border-purple-200 text-purple-600 hover:border-transparent hover:bg-purple-600 hover:text-white active:bg-purple-700 ...">
      Message
    </button>
  </div>
</div>

	<div class="aside content">
		<h1>New York Ave</h1>
		<p><a target="_blank" href="https://ny-ave.com/">New York Ave</a> is a full-service digital agency located in DeLand, FL and serving clients across the country. With a great team of creatives, we've brought life to brands and made dozens of custom websites.
	</div>
	<div class="aside image">
		{# <img src="/images/nyave-office.jpg" alt="New York Ave Office"> #}
	</div>
</section>
